# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment-specific files
.env
.env.local

# Ignore npm debug log
npm-debug.log

# Ignore Yarn's lock file
yarn.lock
